<%/*
自己答案的设置弹窗
*/%>
<div class="goog-menu setting-menu goog-menu-vertical zg-gray-normal" style="left: 320px; top: 35px;">
    <div class="goog-menuitem" id="a">
        <div class="goog-menuitem-content">
            <div class="goog-menuitem-checkbox"></div>允许规范转载
        </div>
    </div>
    <div class="goog-menuitem" id="b">
        <div class="goog-menuitem-content">
            <div class="goog-menuitem-checkbox"></div>禁止转载
        </div>
    </div>
    <div class="goog-menuseparator" role="separator"></div>
    <div class="goog-menuitem" id="d">
        <div class="goog-menuitem-content">删除</div>
    </div>
</div>