<%/*
 问题页面 答案的评论模版
*/%>
<div class="comment-app-holder" style="display: none">
    <div class="_commentBox-bordered-3Fo">
        <i class="icon icon-spike"></i>
        <div class="_commentBox-list">
            <div class="_commentBox-root-PQNS">
                <a href="https//www.zhihu.com/people/xiaohu-72" class="_commentBox-avatarLink">
                    <img class="Avatar Avatar-s" src="img/people-3_s.jpg">
                </a>
                <div class="_commentItem_body">
                    <div class="_commentItem-header"><a href="http://www.zhihu.com/people/xiaohu">Gee Law</a></div>
                    <div class="_commentItem-content">……为什么要在服务器上写</div>
                    <div class="_commentItem-footer">
                        <span class="_commentItem-links hidden"><span>0</span><span>赞</span></span>
                        <time>22 小时前</time>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-reply"></i>
                            <span>回复</span>
                        </button>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-like"></i>
                            <span>赞</span>
                        </button>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-report"></i>
                            <span>举报</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="_commentBox-root-PQNS">
                <a href="https//www.zhihu.com/people/izong" class="_commentBox-avatarLink">
                    <img class="Avatar Avatar-s" src="img/people-3_s.jpg">
                </a>
                <div class="_commentItem_body">
                    <div class="_commentItem-header">
                        <a href="http://www.zhihu.com/people/xiaohu">何钦尧</a>
                        <span><span>（作者） 回复</span><a href="http://www.zhihu.com/people/davidz">Gee Law</a></span>
                        <button class="_commentItem-openConversations _commentBox-textBtn">
                            <i class="sprite-comment-icon-open-conversations"></i>
                            <span>查看对话</span>
                        </button>
                    </div>
                    <div class="_commentItem-content">比如只有服务器上才有GPU的情况……</div>
                    <div class="_commentItem-footer">
                        <span class="_commentItem-links hidden"><span>0</span><span>赞</span></span>
                        <time>21 小时前</time>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-reply"></i>
                            <span>回复</span>
                        </button>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-like"></i>
                            <span>赞</span>
                        </button>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-report"></i>
                            <span>举报</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="_commentBox-root-PQNS">
                <a href="https//www.zhihu.com/people/Jury" class="_commentBox-avatarLink">
                    <img class="Avatar Avatar-s" src="img/people-3_s.jpg">
                </a>
                <div class="_commentItem_body">
                    <div class="_commentItem-header"><a href="http://www.zhihu.com/people/xiaohu">纳泥</a></div>
                    <div class="_commentItem-content">你得在服务器上打包，发布</div>
                    <div class="_commentItem-footer">
                        <span class="_commentItem-links"><span>1</span><span>赞</span></span>
                        <time>21 小时前</time>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-reply"></i>
                            <span>回复</span>
                        </button>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-like"></i>
                            <span>赞</span>
                        </button>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-report"></i>
                            <span>举报</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="_commentBox-root-PQNS">
                <a href="https//www.zhihu.com/people/zhangyixuan" class="_commentBox-avatarLink">
                    <img class="Avatar Avatar-s" src="img/people-3_s.jpg">
                </a>
                <div class="_commentItem_body">
                    <div class="_commentItem-header"><a href="http://www.zhihu.com/people/xiaohu">西利西利</a></div>
                    <div class="_commentItem-content">很实用。尤其是看diff，图形界面比命令行方便得不止一点点</div>
                    <div class="_commentItem-footer">
                        <span class="_commentItem-links hidden"><span>0</span><span>赞</span></span>
                        <time>21 小时前</time>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-reply"></i>
                            <span>回复</span>
                        </button>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-like"></i>
                            <span>赞</span>
                        </button>
                        <button class="_commentItem-action _commentBox-textBtn">
                            <i class="zg-icon zg-icon-comment-report"></i>
                            <span>举报</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="_commentBox-pageBorder _pager_root hidden">
            <span class="_pager-item _pager-muted">上一页</span>
            <span class="_pager-item _pager-muted">1</span>
            <a class="_pager-item">2</a>
            <a class="_pager-item">3</a>
            <a class="_pager-item">4</a>
            <a class="_pager-item">5</a>
            <a class="_pager-item">下一页</a>
        </div>
        <div class="_commentForm-border">
            <input type="text" class="_inputBox_root" placeholder="写下你的评论...">
            <div class="zm-comment zg-clear">
                <a href="javascript:;" class="zg-right zg-btn-blue">评论</a>
                <a href="javascript:;" class="zm-comment-cancel">关闭</a>
            </div>
        </div>
    </div>
</div>