<%/*
主页面边栏模板
*/%>
<div class="zu-main-sidebar">
    <div class="shameimaru-section">
        <a class="shameimaru-link" href="javascript">
            <img src="img/shameimaru.jpg" alt="Coding 8月-首页右上">
        </a>
        <a class="shameimaru-close z-ico-shameimaru-close"></a>
    </div>
    <div class="zm-side-section">
        <div class="zm-side-section-inner">
            <div class="zm-side-section-group">
                <ul class="zm-side-nav">
                    <li class="zm-side-nav-li">
                        <a href="/collections" class="zm-side-nav-link">
                            <i class="zg-icon zg-icon-sidenav-fav"></i>
                            我的收藏
                            <span class="zg-num">174</span>
                        </a>
                    </li>
                    <li class="zm-side-nav-li">
                        <a href="/question/following" class="zm-side-nav-link">
                            <i class="zg-icon zg-icon-sidenav-follow"></i>
                            我关注的问题
                        </a>
                    </li>
                    <li class="zm-side-nav-li">
                        <a href="/collections" class="zm-side-nav-link">
                            <i class="zg-icon zg-icon-sidenav-invite"></i>
                            邀请我回答的问题
                        </a>
                    </li>
                </ul>
            </div>
            <div class="zm-side-section-group">
                <ul class="zm-side-nav">
                    <li class="zm-side-nav-li">
                        <a href="/collections" class="zm-side-nav-link">
                            <i class="zg-icon zg-icon-sidenav-plaza"></i>
                            话题广场
                        </a>
                    </li>
                    <li class="zm-side-nav-li">
                        <a href="/question/following" class="zm-side-nav-link">
                            <i class="zg-icon zg-icon-sidenav-publicEdit"></i>
                            公共编辑动态
                        </a>
                    </li>
                    <li class="zm-side-nav-li">
                        <a href="/collections" class="zm-side-nav-link">
                            <i class="zg-icon zg-icon-sidenav-invite"></i>
                            社区服务中心
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="siderbarSection siderbarListNav zm-side-my-columns">
        <h3>知乎专栏</h3>
        <ul class="">
            <li class="zm-side-nav-li">
                <a class="column-link zm-side-nav-link" href="http://zhuanlan.zhihu.com/">
                    <i class="sprite-sidebar-column icon-column-log-active"></i>
                    <span class="name">专栏・发现</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="siderbarSection siderbarListNav">
        <ul class="">
            <li class="zm-side-nav-li">
                <a class="column-link zm-side-nav-link" href="http://zhuanlan.zhihu.com/">
                    <i class="sprite-sidebar-column sprite-sidebar-icon-zhi"></i>
                    <span class="name">下载App</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="zh-footer" id="zh-footer">
        <div class="zh-footer-inner zg-warp">
            <ul>
                <li><a href="http://liukanshan.zhihu.com">刘看山</a></li>
                <li><a href="http://liukanshan.zhihu.com">知乎指南</a></li>
                <li><a href="http://liukanshan.zhihu.com">建议反馈</a></li>
                <li><a href="http://liukanshan.zhihu.com">移动应用</a></li>
                <li><a href="http://liukanshan.zhihu.com">加入知乎</a></li>
                <li><a href="http://liukanshan.zhihu.com">知乎协议</a></li>
                <li><a href="http://liukanshan.zhihu.com">联系我们</a></li>
            </ul>
            <span class="copy">© 2016 知乎</span>
        </div>
    </div>
</div>