<div class="zm-profile-section-wrap">
    <div class="zm-profile-section-head">
        <a class="zm-profile-section-title" href="/people/excited-vczh/answer-card">
            <h2 class="zm-profile-section-name">回答</h2>
            <i class="zg-right zg-icon zm-profile-section-more-btn"></i>
        </a>
    </div>
    <div class="zm-profile-section-list" id="zh-profile-answers-inner-list">
        <div class="zm-profile-section-item">
            <div class="zm-profile-vote-count">
                <div class="zm-profile-vote-num">38</div>
                <div class="zm-profile-vote-type">赞同</div>
            </div>
            <div class="zm-profile-section-main">
                <h2 class="zm-profile-question">
                    <a class="question_link" href="question.html">工程师文化对企业一定是好的么？</a>
                </h2>
                <p class="zm-profile-item-text">工程师文化的意思就是说，码农门锁在一个房间里，互相不用照顾别人的感受，好好写代…</p>
            </div>
        </div>
        <div class="zm-profile-section-item">
            <div class="zm-profile-vote-count">
                <div class="zm-profile-vote-num">23</div>
                <div class="zm-profile-vote-type">赞同</div>
            </div>
            <div class="zm-profile-section-main">
                <h2 class="zm-profile-question">
                    <a class="question_link" href="question.html">这张图的问题是什么意思？</a>
                </h2>
                <p class="zm-profile-item-text">粗略看了一下，虽然没有全部看懂，但大概是这个意思： 孟德尔定律：啪啪啪 平面几何…</p>
            </div>
        </div>
        <div class="zm-profile-section-item">
            <div class="zm-profile-vote-count">
                <div class="zm-profile-vote-num">22</div>
                <div class="zm-profile-vote-type">赞同</div>
            </div>
            <div class="zm-profile-section-main">
                <h2 class="zm-profile-question">
                    <a class="question_link" href="question.html">当中国被多国联合入侵，那些移民的华人华侨还会愿意像二战时的先辈一样回国援战吗？</a>
                </h2>
                <p class="zm-profile-item-text">只要我国答应永不清算，战后供着。 想想现在的那么多老兵</p>
            </div>
        </div>
    </div>
</div>