<%/* 个人页面-回答模块 模版
 title              问题
 viewNum            浏览次数
 answerNum          回答数
 followNum          关注数
 */%>
<div class="zm-profile-section-wrap">
    <div class="zm-profile-section-head">
        <a class="zm-profile-section-title" href="/people/excited-vczh/answer-card">
            <h2 class="zm-profile-section-name">回答</h2>
            <i class="zg-right zg-icon zm-profile-section-more-btn"></i>
        </a>
    </div>
    <div class="zm-profile-section-list" id="zh-profile-answers-inner-list">
<% answers.forEach(function(answer){ %>
        <div class="zm-profile-section-item">
            <div class="zm-profile-vote-count">
                <div class="zm-profile-vote-num"><%= answer.agreeNum %></div>
                <div class="zm-profile-vote-type">赞同</div>
            </div>
            <div class="zm-profile-section-main">
                <h2 class="zm-profile-question">
                    <a class="question_link" href=<%= answer.url %>><%= answer.question%></a>
                </h2>
                <p class="zm-profile-item-text"><%= answer.answer %></p>
            </div>
        </div>
<% }) %>
    </div>
</div>