<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body class="zhi">
    <%- include('components/zu-top.ejs', {name: user.name, profileUrl: user.profileUrl}) %>
    <div class="zg-wrap zu-main clearFix" role="main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <div class="zg-section" id="zh-home-list-title">
                    <i class="zg-icon zg-icon-feedlist"></i>
                    最新动态
                    <a href="/setting/filter" class="zg-link-gray-normal">
                        <i class="zg-icon zg-icon-settings"></i>
                        设置
                    </a>
                </div>
                <div class="zu-main-feed-con">
                    <div id="js-home-feed-list" class="zh-general-list clearFix">
                    </div>
                </div>
            </div>
        </div>
        <div class="zu-main-sidebar">
            <div class="shameimaru-section">
                <a class="shameimaru-link" href="javascript">
                    <img src="img/shameimaru.jpg" alt="Coding 8月-首页右上">
                </a>
                <a class="shameimaru-close z-ico-shameimaru-close"></a>
            </div>
            <div class="zm-side-section">
                <div class="zm-side-section-inner">
                    <div class="zm-side-section-group">
                        <ul class="zm-side-nav">
                            <li class="zm-side-nav-li">
                                <a href="/collections" class="zm-side-nav-link">
                                    <i class="zg-icon zg-icon-sidenav-fav"></i>
                                    我的收藏
                                    <span class="zg-num">174</span>
                                </a>
                            </li>
                            <li class="zm-side-nav-li">
                                <a href="/question/following" class="zm-side-nav-link">
                                    <i class="zg-icon zg-icon-sidenav-follow"></i>
                                    我关注的问题
                                </a>
                            </li>
                            <li class="zm-side-nav-li">
                                <a href="/collections" class="zm-side-nav-link">
                                    <i class="zg-icon zg-icon-sidenav-invite"></i>
                                    邀请我回答的问题
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="zm-side-section-group">
                        <ul class="zm-side-nav">
                            <li class="zm-side-nav-li">
                                <a href="/collections" class="zm-side-nav-link">
                                    <i class="zg-icon zg-icon-sidenav-plaza"></i>
                                    话题广场
                                </a>
                            </li>
                            <li class="zm-side-nav-li">
                                <a href="/question/following" class="zm-side-nav-link">
                                    <i class="zg-icon zg-icon-sidenav-publicEdit"></i>
                                    公共编辑动态
                                </a>
                            </li>
                            <li class="zm-side-nav-li">
                                <a href="/collections" class="zm-side-nav-link">
                                    <i class="zg-icon zg-icon-sidenav-invite"></i>
                                    社区服务中心
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="siderbarSection siderbarListNav zm-side-my-columns">
                <h3>知乎专栏</h3>
                <ul class="">
                    <li class="zm-side-nav-li">
                        <a class="column-link zm-side-nav-link" href="http://zhuanlan.zhihu.com/">
                            <i class="sprite-sidebar-column icon-column-log-active"></i>
                            <span class="name">专栏・发现</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="siderbarSection siderbarListNav">
                <ul class="">
                    <li class="zm-side-nav-li">
                        <a class="column-link zm-side-nav-link" href="http://zhuanlan.zhihu.com/">
                            <i class="sprite-sidebar-column sprite-sidebar-icon-zhi"></i>
                            <span class="name">下载App</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="zh-footer" id="zh-footer">
                <div class="zh-footer-inner zg-warp">
                    <ul>
                        <li><a href="http://liukanshan.zhihu.com">刘看山</a></li>
                        <li><a href="http://liukanshan.zhihu.com">知乎指南</a></li>
                        <li><a href="http://liukanshan.zhihu.com">建议反馈</a></li>
                        <li><a href="http://liukanshan.zhihu.com">移动应用</a></li>
                        <li><a href="http://liukanshan.zhihu.com">加入知乎</a></li>
                        <li><a href="http://liukanshan.zhihu.com">知乎协议</a></li>
                        <li><a href="http://liukanshan.zhihu.com">联系我们</a></li>
                    </ul>
                    <span class="copy">© 2016 知乎</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-dialog-bg" style="opacity: 0.5; width: 100%; height: 100%; display: none"></div>
    <div class="modal-wrapper hidden">
        <div class="modal-dialog absolute-position" style="width: 550px">
            <div class="modal-dialog-title">
                <span class="modal-dialog-title-text">提问</span>
                <span class="modal-dialog-title-close"></span>
            </div>
            <div class="modal-dialog-content">
                <div class="zh-add-question-form">
                    <div class="js-add-question-splash" style="display: none;">
                        <p>
                            知乎是一个真诚，友善，认真，互助的社区<br>
                            我们希望每一个疑惑都有解答，好的问题更容易得到好的答案
                            <a href="//www.zhihu.com/question/19555761">如何提一个好问题？</a>
                        </p>
                        <p>
                            <b>提问应遵循真实，客观，简洁，明确，规范的原则</b><br>
                            1、提问应尽可能简洁明了，避免「请问」「有谁知道」「谢谢！」等与问题本身无关的附加语。<br>
                            2、应避免使用「为神马」「童鞋」「肿么办」等网络用语。<br>
                            3、基于个人判断或传言的问题，在提问时应在补充说明里详细说明原由<br>
                            4、避免太宽泛问题，如调查性的问题容易变成每个人都可以发表观点，但对其他人没有价值。<br>
                        </p>
                        <p>
                            <b>知乎禁止这些提问</b><br>
                            1、和已有问题完全重复的问题，<b>为避免重复，提问前可以先进行搜索</b><br>
                            2、招聘 / 求职、交易 / 合作、寻人 / 征友、召集 / 赠送、求码类内容<br>
                            3、投票类问题。例如：你支持方舟子还是韩寒？<br>
                            4、作业或其他希望代为完成个人任务类的内容，以及针对个人具体病情的求医问药类问题<br>
                            完整的提问建议可查看<a href="//www.zhihu.com/question/19806261">知乎的提问规范有哪些？</a><br>
                        </p>
                        <div class="before-ask-from">
                            <b>提问前请先搜索</b>
                            <div style="margin-top: 18px">
                                <input type="text" class="zg-form-text-input" placeholder="请输入你的问题">
                            </div>
                        </div>
                    </div>
                    <div class="js-add-question-form" style="display: block">
                        <div class="zg-section-big clearFix">
                            <div class="zg-form-text-input add-question-title-form">
                                <textarea rows="1"
                                          class="zg-edit-input"
                                          title="在这里输入问题"
                                          id="zh-question-suggest-title-content"
                                          aria-label="写下你的问题"
                                          placeholder="写下你的问题"
                                          style="height: 22px"></textarea>
                            </div>
                        </div>
                        <div class="zg-section-big">
                            <div class="add-question-section-title">
                                问题说明（可选）
                            </div>
                            <div id="zh-question-suggest-detail-container"
                                 class="zm-editable-status-editing">
                                <div class="zm-editable-editor-wrap">
                                    <div class="zm-editable-editor-outer">
                                        <div class="zm-editable-editor-field-wrap">
                                            <div class="zm-editable-editor-field-element editable" contenteditable="true"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zm-add-question-form-topic-wrap">
                            <div class="add-question-section-title">
                                <span class="zg-gray zg-right">
                                    话题越精准，越容易让相关领域专业人士看到你的问题
                                </span>
                                选择话题：
                            </div>
                            <div id="zh-question-suggest-topic-container" class="zm-tag-editor zg-section">
                                <div class="zm-tag-editor-editor zg-clear">
                                    <div class="zm-tag-editor-command-buttons-wrap zg-left">
                                        <label for="topic" class="zg-icon icon-magnify"></label>
                                        <input class="zu-question-suggest-topic-input label-input-label"
                                               type="text"
                                               placeholder="搜索话题"
                                        >
                                    </div>
                                </div>
                                <div id="zh-question-suggest-autocomplete-container"></div>
                            </div>
                        </div>
                        <div class="zm-command">
                            <label class="zm-question-form-hide-in-about-question-el zg-left">
                                <input type="checkbox">匿名
                            </label>
                            <a href="javascript:;" name="cancel" class="zm-command-cancel">取消</a>
                            <a href="javascript:;" name="addq" class="zu-question-form-add zg-btn-blue">发布</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/main.js"></script>
    <div></div>
</body>
</html>