<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body class="zhi">
    <%- include('components/zu-top.ejs', {name: user.name, profileUrl: user.profileUrl}) %>
    <div class="zg-wrap zu-main clearFix" role="main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <div class="zg-section" id="zh-home-list-title">
                    <i class="zg-icon zg-icon-feedlist"></i>
                    最新动态
                    <a href="/setting/filter" class="zg-link-gray-normal">
                        <i class="zg-icon zg-icon-settings"></i>
                        设置
                    </a>
                </div>
                <div class="zu-main-feed-con">
                    <div id="js-home-feed-list" class="zh-general-list clearFix">
                    </div>
                </div>
            </div>
        </div>
        <%- include components/main-sidebar %>
    </div>
    <%- include components/addQuestion %>
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <div></div>
</body>
</html>