<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%; display: block">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>知乎 - 与世界分享你的知识，见解</title>
    <style type="text/css">
        html{
            padding: 0;
            margin: 0 ;
            height: 100% !important;
        }
        body{
            margin: 0;
            height: 100%;
            color: #555;
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 14px;
            background: #f7fafc;
        }
        input, button{
            outline: none;
        }
        a{
            text-decoration: none;
        }
        .logo{
            margin: 0 auto;
            width: 160px;
            height: 74px;
            background: url("img/logo.png") no-repeat;
            text-align: center;
            background-size: contain;
        }
        .subtitle{
            margin: 30px 0 20px;
            font-weight: 400;
            font-size: 18px;
            line-height: 1;
            text-align: center;
        }
        .index-main{
            width: 100%;
            height: 100%;
            //margin-bottom: 42px;
            text-align: center;
        }
        .index-main:before{
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        .index-main-body{
            padding: 0;
            display: inline-block;
            vertical-align: middle;
            width: 300px;
            min-height: 590px;
            margin: auto;
        }
        .index-header{
            text-align: center;
        }
        .index-main-body p{
            width: inherit;
            text-align: center;
            opacity: 0.5;
        }
        .sign-flow label.error{
            position: absolute;
            right: 8px;
            top: 0;
            line-height: 43px;
            color: #c33;
        }
        .sign-nav{
            position: relative;
            text-align: center;
            font-size: 18px;
            color: black;
            margin-bottom: 10px;
        }
        .sign-nav a{
            float: left;
            display: inline-block;
            width: 4em;
            line-height: 35px;
            text-decoration: none;
            opacity: 0.6;
            transition: opacity 0.5s;
            color: inherit;
        }
        .sign-nav a:hover{
            opacity: 1;
        }
        .sign-nav a.active{
            opacity: 1;
            color: #0f88eb;
        }
        .nav-slider-bar{
            position: absolute;
            margin: 0 0.8em;
            background: #0f88eb;
            height: 2px;
            width: 2.4em;
            left: 0;
            bottom: 0;
            transition: left .15s linear;
        }
        .sign-nav[data-index="1"] .nav-slider-bar{
            left: 4em;
        }
        .group-input{
            border: 1px solid #d5d5d5;
            border-radius: 3px;
        }
        .input-wrapper{
            margin: 0;
            position: relative;
        }
        div.input-wrapper input{
            width: 100%;
            padding: 1em 0.8em;
            line-height: 19px;
            box-sizing: border-box;
            color: #555;
            border: 0;
        }
        .input-wrapper + .input-wrapper{
            border-top: 1px solid #e8e8e8;
        }
        .button-wrapper{
            margin-top: 18px;
            display: block;
        }
        .sign-btn{
            background: #0f88eb;
            line-height: 41px;
            color: white;
            border-radius: 3px;
            width: 100%;
            font-size: 15px;
            text-align: center;
            cursor: pointer;
            border: 0;
        }
        .signin-misc-wrapper, .weibo-signup-wrapper{
            margin-top: 18px;
            display: block;
        }
        .signin-misc-wrapper .remember-me{
            float: left;
        }
        .signin-misc-wrapper .unable-login{
            float: right;
            color: inherit;
        }
        .clearFix:after, .clearFix:before{
            content: "";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
            font-size: 0;
        }
        .js-toggle-sns-btn{
            cursor: pointer;
            float: left;
            display: block;
        }
        .sns-btn > a{
            margin: 0 25px 0 0;
        }
        .weibo-signup-wrapper a{
            opacity: 0.7;
            -webkit-transition: opacity 0.15s;
        }
        .weibo-signup-wrapper a:hover{
            opacity: 1;
        }
        [class ^='sprite-sns-'] {
            background: url("img/sns.png") no-repeat;
            display: inline-block;
            width: 20px;
            height: 18px;
        }
        .sprite-sns-wechat{
            background-position: -56px -20px;
        }
        .sprite-sns-weibo{
            background-position: 0px -44px;
        }
        .sprite-sns-qq{
            background-position: -56px 0px;
        }
        .sns-btn{
            display: inline-block;
            opacity: 0;
            transform: translateX(-20px);
            transition: opacity .25s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
            visibility: hidden;
        }
        .sns-visible{
            opacity: 1;
            transform: none;
        }
        .QRCode{
            margin-top: 18px;
            position: relative;
        }
        .QRCode-toggle{
            display: block;
            color: #5fa6e5;
            height: 41px;
            width: 100%;
            line-height: 39px;
            border: 1px solid #96c2e9;
            outline: 0;
            cursor: pointer;
            background: 0;
            border-radius: 3px;
        }
        .QRCode-card{
            visibility: hidden;
            position: absolute;
            left: -5px;
            bottom: 50px;
            width: 310px;
            height: 310px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
            transition: opacity .25s ease-out, transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
            opacity: 0;
            transform: translateY(20px);
        }
        .QRCode-visible{
            opacity: 1;
            transform: none;
        }
        .QRCode-image{
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-image: url("img/qr-code.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 250px;
            height: 250px;
            margin: auto;
        }
        .captcha-module img{
            position: absolute;
            right: 0.5em;
            margin-top: -19px;
            top: 50%;
            width: 100px;
            height: 38px;
        }

        .footer{
            position: fixed;
            width: 100%;
            left: 0;
            bottom: 0;
            font-size: 12px;
            line-height: 42px;
            text-align: center;
        }
        .footer a, .footer span{
            color: #aebdc9;
        }
        .dot{
            margin: 0 3px;
        }
    </style>
</head>
<body>
    <div class="index-main">
        <div class="index-main-body">
            <div class="index-header">
                <h1 class="logo"></h1>
                <h2 class="subtitle">与世界分享你的知识，经验和见解</h2>
            </div>
            <div class="sign-flow">
                <div class="sign-nav" data-index="0">
                    <div class="nav-slider" style="display: inline-block; position: relative">
                        <a href="#signup" class="active">注册</a>
                        <a href="#signin">登录</a>
                        <span class="nav-slider-bar"></span>
                    </div>
                </div>
                <div class="sign-login" style="display: none">
                    <form novalidate="novalidate">
                        <div class="group-input">
                            <div class="email input-wrapper">
                                <input type="text" name="account" placeholder="手机号或邮箱" required>
                            </div>
                            <div class="input-wrapper">
                                <input type="password" name="password" placeholder="密码" required>
                            </div>
                        </div>
                        <div class="button-wrapper">
                            <button class="sign-btn" type="submit">登录</button>
                        </div>
                        <div class="signin-misc-wrapper clearFix">
                            <label class="remember-me">
                                <input type="checkbox" name="remember-me" checked>
                                记住我
                            </label>
                            <a href="#" class="unable-login">无法登陆？</a>
                        </div>
                        <div class="weibo-signup-wrapper">
                            <span class="js-toggle-sns-btn">社交账号登录</span>
                            <div class="sns-btn">
                                <a href="#" title="微信登录"><i class="sprite-sns-wechat"></i></a>
                                <a href="#" title="微博登录"><i class="sprite-sns-weibo"></i></a>
                                <a href="#" title="QQ登录"><i class="sprite-sns-qq"></i></a>
                            </div>
                        </div>
                    </form>
                    <div class="QRCode">
                        <button class="QRCode-toggle">下载知乎APP</button>
                        <div class="QRCode-card">
                            <div class="QRCode-image"></div>
                        </div>
                    </div>
                </div>
                <div class="sign-lognup" style="display: block">
                    <form novalidate="novalidate">
                        <div class="group-input">
                            <div class="name input-wrapper">
                                <input type="text" name="name" placeholder="姓名" required>
                            </div>
                            <div class="email input-wrapper">
                                <input type="text" name="account" placeholder="手机号（仅支持中国大陆）" required>
                            </div>
                            <div class="input-wrapper">
                                <input type="password" name="password" placeholder="密码" required>
                            </div>
                            <div class="input-wrapper captcha-module">
                                <input id="captcha" name="captcha" placeholder="验证码" required>
                                <div class="captcha-container">
                                    <img src="img/captcha.gif" width="120px" height="30px">
                                </div>
                            </div>
                        </div>
                        <div class="button-wrapper">
                            <button class="sign-btn" type="button">注册知乎</button>
                        </div>
                    </form>
                    <div class="QRCode">
                        <button class="QRCode-toggle">下载知乎APP</button>
                        <div class="QRCode-card">
                            <div class="QRCode-image"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span>@2016知乎</span>
        <span class="dot">·</span>
        <a target="_blank" href="#">知乎圆桌</a>
        <span class="dot">·</span>
        <a target="_blank" href="#">发现</a>
        <span class="dot">·</span>
        <a target="_blank" href="#">移动应用</a>
        <span class="dot">·</span>
        <a target="_blank" href="#">使用机构账号登录</a>
        <span class="dot">·</span>
        <a target="_blank" href="#">联系我们</a>
        <span class="dot">·</span>
        <a target="_blank" href="#">刘看山</a>
        <span class="dot">·</span>
        <a target="_blank" href="#">来知乎工作</a>
        <span class="dot">·</span>
        <a target="_blank" href="#">京ICP备13052560号</a>
        <span class="dot">·</span>
        <a target="_blank" href="#">北京智者天下科技有限公司</a>
    </div>
    <canvas id="canvas" style="position: absolute; top: 0; left: 0; z-index: -1"></canvas>
</body>
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    function stopBubble(e) {
        if(e && e.stopPropagation()){
            e.stopPropagation();
        }
        else{
            window.event.cancelBubble = true;
        }
    }
    var canvas = document.getElementById("canvas");
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    var ctx = canvas.getContext('2d');
    function rand(min, max) {
        return parseInt(Math.random()*(max - min) + min);
    }
    function Round() {
        /*半径*/
        this.r = rand(5, 15);
        var speed = rand(1, 3);
        this.speedX = rand(0, 4) > 2 ? speed: -speed;
        this.speedY = rand(0, 4) > 2 ? speed: -speed;
        var x = rand(this.r, canvas.width - this.r);
        this.x = x < this.r ? this.r : x;
        var y = rand(this.r, canvas.height - this.r);
        this.y = y < this.y ? this.r : y;
    }
    Round.prototype.draw = function () {
        ctx.fillStyle = 'rgba(200, 200, 200, 0.2)';
        ctx.beginPath();
        ctx.arc(this.x, this.y, this.r, 0, 2* Math.PI, true);
        ctx.closePath();
        ctx.fill();
    }
    Round.prototype.move = function () {
        this.x += this.speedX/10;
        if(this.x > canvas.width || this.x < 0){
            this.speedX *= -1;
        }
        this.y += this.speedY/10;
        if(this.y > canvas.height || this.y < 0){
            this.speedY *= -1;
        }
    }
    Round.prototype.links = function () {
        for(var loop = 0; loop < setBall.length; loop++){
            var len = Math.sqrt(((this.x - setBall[loop].x)*(this.x - setBall[loop].x)) + ((this.y-setBall[loop].y)*(this.y-setBall[loop].y)));
            var line = 1/len * 2;
            if(len < 250){
                ctx.beginPath();
                ctx.strokeStyle = 'rgba(0, 0, 0, '+ line + ')';
                ctx.moveTo(this.x, this.y);
                ctx.lineTo(setBall[loop].x, setBall[loop].y);
                ctx.stroke();
                ctx.closePath();
            }
        }
    }
    var setBall = [];
    function init() {
        for(var num = 0; num < 50; num++){
            var obj = new Round();
            obj.draw();
            obj.move();
            setBall.push(obj);
        }
    }
    function ballMove() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for(var i = 0; i < setBall.length; i++){
            var ball = setBall[i];
            ball.draw();
            ball.move();
            ball.links();
        }
        requestAnimationFrame(ballMove);
    }
    window.onload = function () {
        init();
        requestAnimationFrame(ballMove);
    }

    var animationEnd = (function () {
        var explorer = navigator.userAgent.toLowerCase();
        if(explorer.indexOf('chrome') != -1){
            return 'webkitTransitionEnd';
        }
        else if(explorer.indexOf("firefox") != -1){
            return 'transitionend';
        }
    })();
    var snsVisible = false;
    $(".js-toggle-sns-btn").click(function () {
        if(!snsVisible){
            $('.sns-btn').addClass('sns-visible');
            $('.sns-btn').css("visibility", "visible");
            snsVisible = true;
        }
        else{
            $('.sns-btn').removeClass('sns-visible').on(animationEnd, function () {
                $('.sns-btn').css("visibility", "hidden");
                snsVisible = false;
                $(this).off();
            })
        }
    })
    var navSlideIndex = 0;
    $('.nav-slider a:first').click(function () {
        if(navSlideIndex == 1){
            $(this).addClass('active');
            $('.sign-nav').attr("data-index", "0");
            $('.nav-slider a:last').removeClass('active');
            $('.sign-login').css('display', 'none');
            $('.sign-lognup').css('display', 'block');
            navSlideIndex = 0;
        }
    })
    $('.nav-slider a:last').click(function () {
        if(navSlideIndex == 0){
            $(this).addClass('active');
            $('.sign-nav').attr("data-index", "1");
            $('.nav-slider a:first').removeClass('active');
            $('.sign-login').css('display', 'block');
            $('.sign-lognup').css('display', 'none');
            navSlideIndex = 1;
        }
    })
    var QRCodeVisible = false;
    $('.QRCode-toggle').click(function (event) {
        if(!QRCodeVisible){
            console.log("show")
            $(this).html("关闭二维码");
            $('.QRCode-card').addClass('QRCode-visible').css("visibility", "visible");
            QRCodeVisible = true;
        }
        else{
            console.log("hidden")
            $(this).html("下载知乎APP");
            $('.QRCode-card').removeClass('QRCode-visible').on(animationEnd, function () {
                $('.QRCode-card').css('visibility', 'hidden');
                QRCodeVisible = false;
                $('.QRCode-card').off();
            })
        }
        stopBubble(event);
    })
    $('body').click(function () {
        if(QRCodeVisible){
            $('.QRCode-toggle').html("下载知乎APP");
            $('.QRCode-card').removeClass('QRCode-visible').on(animationEnd, function () {
                $('.QRCode-card').css('visibility', 'hidden');
                QRCodeVisible = false;
                $('.QRCode-card').off();
            })
        }
    })
    $('.sign-lognup button.sign-btn').click(function(){
        alert('start ajax');
        $.ajax({
            type: 'POST',
            url: '/register',
            dataType: 'JSON',
            success: function(data){
                alert('success');
            },
            error: function(data){
                alert('error');
            }
        })
    })
</script>
</html>