<div class="zm-profile-section-item">
    <span class="zm-profile-setion-time zg-gray zg-right">1 小时前</span>
    <div class="zm-profile-section-main zm-profile-section-activity-main">
                    <span class="author-link-line">
                        <a href="vzch.html" class="zg-link author-link">vczh</a>
                    </span>
        关注了问题
        <a class="question_link" href="question.html">阿里月饼事件会对阿里巴巴技术委员会主席王坚产生什么样的影响？</a>
    </div>
</div>